body {
	

padding:50px 20%;
}
h1, h2, h3 { 
	color: plum;
    font-weight: bold;	
}
p strong{
    color: plum;  
}
h1{
    text-align: center;
}
h2{
    text-align:right;
    margin-bottom:0;
    border-bottom:100%;
    border-bottom-style:solid;
    border-width:1px;
    border-color:lightslategray;
    
  

}
h3{
    text-align:center;
  
}
#name{
    color: plum;
    font-weight: bold;	

}
p{
    color:darkslategray;
    font-size: large;
    font-family:Georgia;
    text-align:justify;
    font-style:italic;
}

hr{
    border-bottom-style:dotted;
    border-width:thin;
    margin-left: 25%;
    margin-right:25%;
    color:lightslategray;
    border-style:dotted thin;
}